body{
    color: rgb(255, 255, 255);
    background: black;
    font-family: "Pacifico", cursive;
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background: rgb(128, 8, 8);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
heeder{
    color: white;
    font-size: 40px;
    border-bottom: solid 3px white;
    padding: 20px;
}